# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://johndoe:randompassword@localhost:3306/mydb"

PORT=8000
ORGANIZATION_CONTROLLER_ADDRESS=
QUEST_CONTROLLER_ADDRESS=
CREDENTIAL_CONTROLLER_ADDRESS=
WEB3_RPC_URI="https://api.hyperspace.node.glif.io/rpc/v1"
LIGHTHOUSE_API_KEY=
SIGNER_PRIVATE_KEY=
NONCE_TEMPLATE=
OPENAI_API_KEY=
CHANNEL_PK=
